* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-position: center center/cover;
    background-size: 1500px 800px;
}

#header {
    border-radius: 24px;
    width: 450px;
    height: 550px;
    margin: 42px 650px;
    background-image: url(modi.png);
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: 110px;
    box-shadow: 2px 5px 15px 5px rgb(220, 220, 208);
}

#check {
    margin: 5px 120px;
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    top: 9rem;
    right: 6rem;
}

#ok {
    margin: 191px;
    text-decoration: none;
    color: rgb(255, 7, 7);
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: 5px solid white;
    border-radius: 8px;
}

a:hover {
    opacity: 0.7;
}

.forgot {
    margin: 0px 8px 0px 270px;
    text-decoration: none;
    color: rgb(255, 0, 0);
    float: right;
    padding-top: 28px;
}

button {
    background-color: rgb(255, 166, 0);
    width: 50%;
    cursor: pointer;
    margin: 15px 103px;
    border-radius: 6px;
    padding: 10px;
    position: relative;
    bottom: 18px;
}

input[type="email"] {
    width: 80%;
    margin: 200px 93px 9px 50px;
    padding: 20px 20px;
    display: inline-block;
    border: 1px;
    box-sizing: border-box;
}

input[type="password"] {
    width: 80%;
    margin: 00px 50px;
    padding: 20px 20px;
    display: inline-block;
    border: 1px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    height: 15px;
    width: 20px;
}

pre {
    text-align: center;
    float: left;
    margin-top: 200px;
    font-weight: bold;
    font-size: 22px;
    color: rgb(255, 8, 0);
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button:hover {
    opacity: 0.7;
}